.claude/
configuration/ConfigSettings.xml
configuration/DeviceDescription.xml
configuration/SystemEvents.xml
configuration/SystemFunctions.xml
configuration/SystemVariables.xml
dist/
node_modules/
tools/*